/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .first-section {
    display: none;
  }

  .second-section {
    display: none;
  }

  .third-section {
    display: none;
  }
  .fourth-section {
    display: none;
  }

  .fifth-section {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .first-section {
    display: none;
  }

  .second-section {
    display: none;
  }

  .third-section {
    display: none;
  }
  .fourth-section {
    display: none;
  }

  .fifth-section {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navigation-green {
    color: #1ab84f;
  }
  .navigation-purple {
    color: #7a36e7;
  }
  .navigation-white {
    color: #ffffff;
  }
  .navigation-teal {
    color: #18f9df;
  }

  .section-show {
    opacity: 1;
  }

  .first-section {
    position: fixed;
    top: 13%;
    margin-left: 27px;
    font-family: "Maven Pro";
    font-size: 16px;
    color: #06185f;
    letter-spacing: 1.72px;
    line-height: 19px;
    text-align: center;
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: opacity 0.3s, transform 0.3s ease-out;
    z-index: 100;
    display: inline;
  }

  .second-section {
    position: fixed;
    top: 30%;
    margin-left: 27px;
    font-family: "Maven Pro";
    font-size: 16px;
    color: #06185f;
    letter-spacing: 1.72px;
    line-height: 19px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: opacity 0.3s, transform 0.3s ease-out;
    display: inline;
  }

  .third-section {
    position: fixed;
    top: 50%;
    margin-left: 27px;
    font-family: "Maven Pro";
    font-size: 16px;
    color: #06185f;
    letter-spacing: 1.72px;
    line-height: 19px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: opacity 0.3s, transform 0.3s ease-out;
    display: inline;
  }

  .fourth-section {
    position: fixed;
    top: 70%;
    margin-left: 27px;
    font-family: "Maven Pro";
    font-size: 16px;
    color: #06185f;
    letter-spacing: 1.72px;
    line-height: 19px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: opacity 0.3s, transform 0.3s ease-out;
    display: inline;
  }

  .fifth-section {
    position: fixed;
    top: 86%;
    margin-left: 27px;
    font-family: "Maven Pro";
    font-size: 16px;
    color: #06185f;
    letter-spacing: 1.72px;
    line-height: 19px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: opacity 0.3s, transform 0.3s ease-out;
    display: inline;
  }
  .section-show {
    opacity: 1;
  }

  .navigation-green {
    color: #1ab84f;
  }
  .navigation-purple {
    color: #7a36e7;
  }
  .navigation-white {
    color: #ffffff;
  }
  .navigation-teal {
    color: #18f9df;
  }

  .section-highlight {
    transform: translate3d(0, 30px, 0) rotate(-90deg);
  }
  .section-highlight-hover {
    transform: translate3d(-40px, 0, 0);
    transition: opacity 0.7s ease-out;
    animation: fullOpacity 0.9s;
  }
}

@keyframes fullOpacityNavigation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
